#timeline
%input#init-data{type: 'hidden', value: raw(@initData.to_s)}

#controls_container
  .control.zoom_button{data: {zoom: 'in'}}
    = '-'
  .control.zoom_button{data: {zoom: 'out'}}
    +
  - if current_user
    - if current_user == @user
      .control#toggle_privacy
        .locked
          = render '/svg/lock'
        .unlocked
          = render '/svg/unlock'
    %a{:href => '/loading', :class => 'control'}
      = render '/svg/refresh'
    %a{:href => '/logout', :class => 'control'}
      logout
  - else
    %a{:href => '/auth/foursquare'}
      %img{:src => '/assets/foursquare-button.png'}

#info
#hovercard{:style => 'display:none;'}
#message
= javascript_include_tag 'app'
%script{:type => "text/template", :id => "hovercardTemplate"}
  .place
    <%= venue_name %>
  .date
    <%= date %>
    <%= time %>
  <% if (shout) { %>
  .shout
    "<%= shout %>"
  <% } %>
  .friends
    <%= friends %>