#meta{:data => {:page => 'show'}}
- if current_user
  #nav
    %a{:href => '/logout', :class => 'nav_button'}
      %img{:src => '/assets/exit.png'}
    - if params[:action] == 'friends'
      %a{:href => '/u/' + @user.id.to_s, :class => 'nav_button'}
        = render '/svg/home'
    - elsif params[:action] == 'show' && current_user == @user
      %a{:href => '/loading', :class => 'nav_button'}
        = render '/svg/refresh'
      .nav_button#toggle_privacy
        .locked
          = render '/svg/lock'
        .unlocked
          = render '/svg/unlock'
- else
  %a{:href => '/auth/foursquare'}
    %img{:src => '/assets/foursquare-button.png'}

#timeline
#future
%input#init-data{type: 'hidden', value: raw(@initData.to_s)}

#controls_container
  .control.zoom_button{data: {zoom: 'in'}}
    = '-'
  .control.zoom_button{data: {zoom: 'out'}}
    +
    
#info
#hovercard{:style => 'display:none;'}
.message#private_message
  This page is now private
.message#public_message
  This page is now public. Share it!
  = render '/extras/twitter_button'
%script{:type => "text/template", :id => "hovercardTemplate"}
  .place
    <%= venue_name %>
  .date
    <%= date %>
    <%= time %>
  <% if (shout) { %>
  .shout
    "<%= shout %>"
  <% } %>
  .friends
    <%= friends %>